<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myswanis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.MySwanis">
        <activity android:name=".Login"></activity>
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SpecificyClass2"></activity>
        <activity android:name=".SpecificyClass2FL"></activity>
        <activity android:name=".SpecificyClass"></activity>
        <activity android:name=".SpecificyClassFL"></activity>
        <activity android:name=".CompilaClass"></activity>
        <activity android:name=".CompilaClassFL"></activity>
        <activity android:name=".MainActivity2"></activity>
        <activity android:name=".ProjectActivity"></activity>
        <activity android:name=".DescrAnimal"></activity>
        <activity android:name=".Gestion"></activity>
        <activity android:name=".ProjectClass"></activity>
        <activity android:name=".CreazioneProgetto"></activity>
        <activity android:name=".ProjectActivityManage"></activity>
        <activity android:name=".LuogoSegn"></activity>
        <activity android:name=".ModSegnal"></activity>
        <activity android:name=".DescrProfile"></activity>
        <activity android:name=".DescrProfileFL"></activity>
        <activity android:name=".ConfirmSegn"></activity>
        <activity android:name=".DeleteSegn"></activity>
        <activity android:name=".ResetPw"></activity>
        <activity android:name=".CompilaReg"></activity>
    </application>

</manifest>